body {
    font: 400 18pt/24pt "DINPro", "Helvetica", sans-serif;
}

form {
    border: 1px solid #ccc;
    padding: 2rem;
    margin: 0 auto;
    width: 66%;
}

div.form_element {
    margin: 1rem;
}

label, input, textarea, select, option {
    font: 400 18pt/24pt "DINPro", "Helvetica", sans-serif;
}
input, textarea, select, option {
    border: 1px solid #ccc;
    padding: 0.25rem;
}

label {
    cursor: pointer;
    display: block;
    margin: 2rem 0;
}
label:first-child {
    margin-top: 0;
}
label:after {
    clear: both;
    display: table;
    content: " ";
}

label span.label {
    float: left;
    display: block;
    width: 10rem;
}

label input {
    float: left;
}

input[type="submit"],
input[type="reset"] {
    cursor: pointer;
    padding: 0.5rem 2rem;
    margin-left: 10rem;
}
input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: #f3f3f3;
}
input[type="submit"]:active,
input[type="reset"]:active {
    border-color: #999;
    background-color: #ccc;
}

label span.error {
    color: red;
    padding-left: 1rem;
}


/* STYLING FIELDS WITH ERRORS */
/* New pseudo-classes to style fields that have an error: */
/* :valid, :invalid, :required, :optional, :in-range, :out-of-range */

input:invalid {
  outline: 2px solid red;
  background-color: #FFC6B3;
}